.android, .md ,.wp{
    page-home {

        .middle{
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 40%;
            transform: translateY(-55%);
            padding-left: 10px;
            padding-right: 10px;
        }

        ion-content{
            background-color: #32db64;
        }

        ion-item{
            background: transparent;
            //background-color: rgb(228, 144, 84);
        }

        ion-label{
            font: bolder;
            font-size: larger;
        }

    }
}


