.android, .md ,.wp{
    page-home {
        .title
        {
            text-align: center;
        }
        .box
        {width: 80%; 
            margin-top: 40%;
            margin-left: auto;
            margin-right: auto;
        }

        #rounded{
            background: transparent;
            width: 100%;
            height: 30px;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 5px;
            margin-bottom: 10px;
            border: thin solid black;
        }
        .login
        {
            background: url('/src/assets/imgs/background.png');
            background-repeat: no-repeat;
            width: 100%;
            background-size: 100% 100%;
        }

        .logbtn
        {
            color: yellow;
        }


    }
}


